In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [4]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

soup = BeautifulSoup(source, 'lxml')

table = soup.find('table',class_ = 'wikitable sortable' )
cols = [v.text.replace('\n', '') for v in rows[0].find_all('th')]

rows = table.find_all('tr')
values = []
for v in rows:
    values.append([td.text.strip() for td in v.find_all('td')])
    #print(values)

In [5]:
df = pd.DataFrame(values, columns = cols)

In [6]:
df.shape

(181, 3)

In [7]:
df.isna().sum()

Postal Code     1
Borough         1
Neighborhood    1
dtype: int64

In [8]:
df1 = df.dropna()

In [9]:
to_drop = df1[df1['Borough'] == 'Not assigned'].index
df1.drop(to_drop, axis = 0, inplace = True)
df1.isna().sum()
df1.head()

C:\Users\Mohsin Ali\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

  Postal Code           Borough                                 Neighborhood
3         M3A        North York                                    Parkwoods
4         M4A        North York                             Victoria Village
5         M5A  Downtown Toronto                    Regent Park, Harbourfront
6         M6A        North York             Lawrence Manor, Lawrence Heights
7         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [10]:
df1.shape

(103, 3)

# Part 2

In [11]:
coord = pd.read_csv(r'C:\Users\Mohsin Ali\Jupyter\Datasets\IBM Captone\Geospatial_Coordinates.csv')
coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [12]:
final_df = pd.merge(df1,coord, on = 'Postal Code', how = 'left')

In [13]:
final_df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494